p{

    margin-left:1%;
    margin-right: 2%;
}

#titulo {
    background-color:cornsilk;
    width:100%;
    display: flex;
    grid-column-gap: 10px;
    height: 10%;
    padding: 2%;
    
}

#titulo > div {   

     border: 0.2px solid black;
     background-color:white;
     flex: auto; 
               }




img{
    display:block;
    margin:auto;
                   }

